body {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: gold;
}
h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: royalblue;
}

h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: indigo;
}

h3 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: aqua;
}
